body {
  background-color: #FAF1E6;
}
h1 {
  color:#845460;
}
p {
  color: red;
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #FAF1E6;
    justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #FCDEC0;
  width: 700px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}

img
{
width: 60px;
height: 60px;
 background: none
}
